@media (min-width:300px) {
    .flexParent {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.mainContent {
    flex: 0.8;
}

.header {
    flex: 0.2;
    background-color: lightgreen;
}

.HeaderTitle {

    margin: auto;
    font-family: Georgia, serif;
    font-size: 16px;
    color: #007324;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    flex: 0.6;
}

.HeaderEntire {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.HeaderUpperHalf {
    flex: 0.2;
    display: flex;
    flex-direction: row;
}

.HeaderLowerHalf {
    flex: 0.8;
    display: flex;
    flex-direction: row;
}

.HeaderExampleText{
    margin: auto;
    flex: 0.8;
}

.HeaderLowerButtons
{
    margin: auto;
}

.HeaderYodafyButton {}


.HeaderSearchButton {}