@media (min-width:300px) {
    .flexParent {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.mainContent {
    flex: 0.5;
    display: flex;
    flex-direction: row;
}

.header {
    width: 100%;
    flex: 0.5;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 50%;
}

.HeaderTitle {

    font-family: Georgia, serif;
    color: #007324;
    font-weight: 700;
}


.HeaderLeftHalf {
    width: 100%;
    flex: 0.5;
}

.LoggedIn {
    min-height: 50%;
}

.userIcon {
    max-height: 37.6px;
}

.HeaderRightHalf {
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

.HeaderUpperButtons {
    align-self: flex-end;
    flex: 0.2;
}

.HeaderLowerButtons {
    align-self: flex-end;
    flex: 0.1;
}

.detailedSearch {
    background-color: lightgreen;
    color: #007324;
    margin: 2%;
}

.ViewingHistory
{   
    border-style:solid;
    border-color:cyan;
    border-width:1cap;
}

.mainPage
{ flex:0.8;}

.searchResultsContainer{
    max-width: 100%;
    margin:40px;
    background-color: #007324;
}

.searchResultInitial {
    margin-top:20px;
    margin-left:20px;
    background-color: lightgreen;
}

.searchResult {
    background-color: lightgreen;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.searchResultTitleAndInfo {
    
}

.searchResultTitle {
    font-size: larger;
    cursor:pointer;
}

.searchResultRating{
    font-size:smaller;
}

.searchResultInfo {
    font-size: smaller;
    cursor:pointer;
}

.searchResultImage {
    max-width:200px; 
    max-height: 100%; 
    width: auto; 
    height: auto;
    margin-right:10px;
    margin-left:10px; 
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;   
}

.hiddenText{
    color:#007324;
}

.searchResultLoading{
    margin-top:30px;
    margin-left:50px;
    font-size:larger;
}

.noSavedPagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
.noSavedPages{
    text-align: center;
    font-size:larger;
}

.noSavedPagesReturn{
   margin:10px;
   margin-right:20px;
   margin-left:20px;
}

.savedPagesContainer{
    background-color:#4B7D00;
}

.gameDetailsImages{
    margin:80px;
    flex-direction: row;
    height: auto;
    width: 90%;
}
.gameDetailsImages img {
    width: 300px;
}

@media (min-width:1500px) {
    
    .gameDetailsImages{
        display: flex;
    }
    .gameDetailsImages img {
        width: 50%;
    }
    
}
.tags{
    border-radius: 10px;
    border-color: rgb(98, 33, 158);
    border-style:solid;
    background-color: #828884;
}

.genres{
    border-radius: 10px;
    border-color: rgb(98, 33, 158);
    border-style:solid;
    background-color: #25994c;
}
.gameDetailsDescriptionTitle{
    margin-left: 40px;
    color: #05471a;
}
.gameDetailsDescription{
    max-width: 50%;
    margin:40px;
    margin-top: 0px;
    flex-direction: row;
    border-radius: 15px;
    border-color: black;
    border-style:solid;
    background-color: #6bb300;
    padding: 10px;
}
.detailsTopInfo{
    padding: 10px;
    margin:40px;
    border-radius: 15px;
    border-color: black;
    border-style:solid;
    background-color: #6bb300;
    display: flex;
    justify-content: space-between;
}
.gameDetailsReleased{
    
}
.gameDetailsMetacritic{
}
.gameDetailsRating{

}
.leftInfo, .middleInfo, .rightInfo{
    flex-direction: column;
}
.gameDetails{
    background-color: #4b7d00;
    flex-direction: row;
}
.detailsButton{
    margin:20px;
    background-color: #127e34;
    color: #252b27;
    border-radius: 10px;
    border-color: rgb(24, 95, 14);
    border-style:solid;
}
.gameDetailsTitle{
    margin:30px;
    color: #05471a;
    
}
.detailsPageName{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #007324;
}